@import "../../styles.scss";

.button {
  height: 50px;
  width: 200px;
  border-radius: 12px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 24px;
  font-weight: 500;
  color: $color-black;

  &--green {
    background-color: $color-green;
  }

  &--pink {
    background-color: $color-pink;
  }

  &:hover {
    cursor: pointer;
  }
}
